---
import PageLayout from "@/layouts/PageLayout.astro";
import { allList } from "@/customize/list";
import ListItem from "@/components/widget/ListItem.astro";
import { getLang, supportedLang } from "@/customize/lang";
import type { MetaData } from "@/common/types";
import { getIntlData } from "@/customize/intl";

export async function getStaticPaths() {
    return supportedLang.map((lang) => {
        return {
            params: {
                locale: lang?.locale,
            },
        };
    });
}

const { locale } = Astro.params;
const lang = getLang(locale);

const intlData = getIntlData(lang);

const metadata: MetaData = {
    title: `${intlData.lists.title}` ,
    description: `${intlData.lists.description}`,
    lang: lang,
};
---

<PageLayout metadata={metadata}>
    <div class="px-5 py-16 md:px-10 md:py-24 lg:py-25">
        <h1 class="text-3xl font-bold md:text-5xl text-center mb-10">
            {intlData.lists.title}
        </h1>
        <p class="text-center md:text-xl text-gray-500">
            {intlData.lists.description}
        </p>
    </div>

    <div class="flex flex-col items-center py-16 px-5">
        <div class="grid gap-10 lg:grid-cols-2 md:grid-cols-1">
            {allList.map((word) => <ListItem lang={lang} detail={word} />)}
        </div>
    </div>
</PageLayout>
