---
import type { IntlListDetail, Language } from "@/common/types";
import { getListIntl } from "@/customize/list";
import { Image } from "astro:assets";

interface Props {
    detail: IntlListDetail;
    lang: Language;
}
const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/images/*.{jpg,jpeg,png,webp,gif}",
);

const { detail, lang } = Astro.props;

if (!images[detail.imgPath])
    throw new Error(`"${detail.imgPath}" does not exist in glob:`);

const imageHeight = 300;
const imageWidth = 300;

const listDesc = getListIntl(detail, lang);
---

<a href={`/${lang.locale}${detail.url}`}>
    <Image
        src={images[detail.imgPath]()}
        alt={listDesc.title}
        width={imageWidth}
        height={imageHeight}
        class="aspect-video rounded-md mb-2"
    />
    <h3 class="md:text-xl font-semibold text-center">{listDesc.title}</h3>
</a>
