---
import type { Language } from "@/common/types";
import { getListIntl, type IntlListDetail } from "@/customize/list";
import { Image } from "astro:assets";

interface Props {
    detail: IntlListDetail;
    lang: Language;
}
const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/images/*.{jpg,jpeg,png,webp,gif}"
);

const { detail, lang } = Astro.props;

if (!images[detail.imgPath])
    throw new Error(`"${detail.imgPath}" does not exist in glob:`);

const listDesc = getListIntl(detail, lang);
---

<div class="flex flex-col items-start max-w-[300px]">
    <Image
        src={images[detail.imgPath]()}
        alt={`${listDesc.title}-image`}
        class="aspect-video rounded-md md:mr-4 mb-4"
    />
    <a href={`/${lang.locale}${detail.url}`}>
        <h3 class="md:text-xl font-semibold mb-2">{listDesc.title}</h3>
        <p class="text-gray-500">{listDesc.description}</p>
    </a>
</div>
