---
import type { Language } from "@/common/types";
import { getIntlData } from "@/customize/intl";

interface Props {
    lang: Language;
}

const { lang } = Astro.props;
const pathSplit = Astro.url.pathname.split("/");

let pathWithoutLang = "";
if (pathSplit.length > 2) {
    pathWithoutLang = `/${pathSplit.slice(2).join("/")}`;
} else {
    pathWithoutLang = "/";
}

const intlData = getIntlData(lang);

const isList = pathWithoutLang === "/lists.html";
const isBlog = pathWithoutLang === "/blog.html";
const isHome = pathWithoutLang === "/";
---

<div>
    <span class="hover:bg-gray-100 rounded p-2">
        {
            isHome ? (
                <a
                    href={`/${lang.locale}`}
                    class=" text-blue-700 font-semibold "
                >
                    {intlData.header.home}
                </a>
            ) : (
                <a href={`/${lang.locale}`}>{intlData.header.home}</a>
            )
        }
    </span>
    <span class="hover:bg-gray-100 rounded p-2">
        {
            isList ? (
                <a
                    href={`/${lang.locale}/lists`}
                    class="text-blue-700 font-semibold"
                >
                    {intlData.header.lists}
                </a>
            ) : (
                <a href={`/${lang.locale}/lists`}>{intlData.header.lists}</a>
            )
        }
    </span>
    <span class="hover:bg-gray-100 rounded p-2">
        {
            isBlog ? (
                <a
                    href={`/${lang.locale}/blog`}
                    class="text-blue-700 font-semibold"
                >
                    {intlData.header.blog}
                </a>
            ) : (
                <a href={`/${lang.locale}/blog`}>{intlData.header.blog}</a>
            )
        }
    </span>
</div>
