---
import type { PinyinWord } from "@/common/types";

interface Props {
    pinyinWords: PinyinWord[];
    size?: number;
}

const { pinyinWords, size = 80 } = Astro.props;

const halfSize = size / 2;
---

<div class="flex flex-row justify-center">
    {
        pinyinWords.map((word) => (
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width={size}
                height={size}
                class="hanzi m-2 cursor-pointer"
                data-word={word.word}
                data-size={size}
            >
                <line x1="0" y1="0" x2={size} y2={size} stroke="#fecaca" />
                <line x1={size} y1="0" x2="0" y2={size} stroke="#fca5a5" />
                <line
                    x1={halfSize}
                    y1="0"
                    x2={halfSize}
                    y2={size}
                    stroke="#fca5a5"
                />
                <line
                    x1="0"
                    y1={halfSize}
                    x2={size}
                    y2={halfSize}
                    stroke="#fca5a5"
                />
                <line x1="0" y1="0" x2="0" y2={size} stroke="#fca5a5" />
                <line x1="0" y1="0" x2={size} y2="0" stroke="#fca5a5" />
                <line x1={size} y1={size} x2={size} y2="0" stroke="#fca5a5" />
                <line x1={size} y1={size} x2="0" y2={size} stroke="#fca5a5" />
            </svg>
        ))
    }
</div>

<script>
    import HanziWriter from "hanzi-writer";
    let allHanzi = document.querySelectorAll(
        ".hanzi",
    ) as NodeListOf<HTMLElement>;
    let chars = [];
    for (var elem of allHanzi) {
        let word = elem.getAttribute("data-word");
        let size = elem.getAttribute("data-size");
        if (!word || !size) continue;
        let writer = HanziWriter.create(elem, word, {
            width: parseInt(size),
            height: parseInt(size),
            padding: 5,
            showCharacter: true,
            delayBetweenStrokes: 10,
        });
        chars.push(writer);
        elem.addEventListener("click", function () {
            writer.animateCharacter();
        });
    }
</script>
