---
import type { Language } from "@/common/types";
import { getIntlData } from "@/customize/intl";
import { supportedLang } from "@/customize/lang";
import Search from "./widget/Search.vue";

interface Props {
    lang: Language;
}

const { lang } = Astro.props;
const pathSplit = Astro.url.pathname.split("/");

let pathWithoutLang = "";
if (pathSplit.length > 2) {
    pathWithoutLang = `/${pathSplit.slice(2).join("/")}`;
} else {
    pathWithoutLang = "/";
}

const intlData = getIntlData(lang);

const isList = pathWithoutLang === "/lists";
const isHome = pathWithoutLang === "/";
---

<section>
    <nav class="relative lg:top-0 border-b-[1px]">
        <div class="flex flex-row items-center justify-between h-14">
            <div>
                <a class="ml-2 mr-4 md:text-xl font-bold" href={`/${lang.locale}`}
                    >Chinese Words</a
                >
                <span class="hover:bg-gray-100 rounded p-2 mr-2">
                    {
                        isHome ? (
                            <a
                                href={`/${lang.locale}`}
                                class=" text-blue-700 font-semibold "
                            >
                                {intlData.header.home}
                            </a>
                        ) : (
                            <a href={`/${lang.locale}`}>
                                {intlData.header.home}
                            </a>
                        )
                    }
                </span>
                <span class="hover:bg-gray-100 rounded p-2">
                    {
                        isList ? (
                            <a
                                href={`/${lang.locale}/lists`}
                                class="text-blue-700 font-semibold"
                            >
                                {intlData.header.lists}
                            </a>
                        ) : (
                            <a href={`/${lang.locale}/lists`}>
                                {intlData.header.lists}
                            </a>
                        )
                    }
                </span>
            </div>
            <div class="absolute left-1/2 transform -translate-x-1/2 w-1/4">
                <Search intlData = {intlData} lang={lang} client:load/>
            </div>

            <div>
                <select
                    name="language"
                    id="language-select"
                    data-path={`${pathWithoutLang}`}
                >
                    {
                        supportedLang.map((l) => (
                            <option value={l.locale} selected={l === lang}>
                                {l.name}
                            </option>
                        ))
                    }
                </select>
            </div>
        </div>
    </nav>
</section>

<script>
    let languageSelect = document.getElementById("language-select");
    if (languageSelect) {
        languageSelect.addEventListener("change", (e) => {
            const value = (e.target as HTMLSelectElement).value;
            const path = languageSelect.getAttribute("data-path");
            if (path === "/") {
                window.location.href = `/${value}`;
            } else {
                window.location.href = `/${value}${path}`;
            }
        });
    }
</script>
