---
import PageLayout from "@/layouts/PageLayout.astro";
import Hanzi from "@/components/widget/WritingWords.astro";
import { pinyin } from "pinyin-pro";
import type { MetaData, PinyinWord } from "@/common/types";
import Explanation from "@/components/widget/Explanation.astro";
import { getLang, supportedLang } from "@/customize/lang";
import { getIntlData } from "@/customize/intl";
import { loadAllWords, loadWord } from "@/utils/words";
import { allList, getListIntl } from "@/customize/list";

export async function getStaticPaths() {
    const words = loadAllWords();
    let paths = [];
    for (let lang of supportedLang) {
        for (let word of words) {
            paths.push({
                params: {
                    locale: lang.locale,
                    word: word.word,
                },
            });
        }
    }
    return paths;
}

const { word, locale } = Astro.params;
const lang = getLang(locale);
const intlData = getIntlData(lang);

const pinyins = pinyin(word, { type: "array" });
const pinyinString = pinyin(word);

let allWords = loadAllWords();
let homophones = [];
let index = -1;
for (let i = 0; i < allWords.length; i++) {
    if (
        word !== allWords[i].word &&
        pinyinString === pinyin(allWords[i].word)
    ) {
        homophones.push(allWords[i]);
    }
    if (word === allWords[i].word) {
        index = i;
    }
}

let previous = allWords[index - 1] || allWords[allWords.length - 1];
let next = allWords[index + 1] || allWords[0];

let pinyinWords: PinyinWord[] = [];
for (let i = 0; i < word.length; i++) {
    pinyinWords.push({
        word: word[i],
        pinyin: pinyins[i],
    });
}

let wordDetail = loadWord(word);

let relatedList = allList.filter((list) =>
    list.tags.some((tag) => wordDetail.tags.includes(tag))
);

const metadata: MetaData = {
    title: `${word} - ${intlData.word.meta.title}`,
    description: `${word} - ${intlData.word.meta.description}`,
    lang: lang,
};
---

<PageLayout metadata={metadata}>
    <div>
        <h1 class="text-4xl text-center text-white">{word}</h1>
        <div class="mb-20">
            <Hanzi pinyinWords={pinyinWords} />
        </div>

        <div class="my-10">
            <h2 class="text-2xl py-4 border-b-[1px]">
                {intlData.word.pronunciation}
            </h2>
            <div class="mt-2 flex flex-row flex-wrap">
                {
                    word.split("").map((c) => (
                        <button class="btn speak-btn mr-2" data-word={c}>
                            {c}
                        </button>
                    ))
                }
                <button class="btn speak-btn" data-word={word}>{word}</button>
            </div>
        </div>

        <div class="my-10">
            <h2 class="text-2xl py-4">
                {intlData.word.explanation}
            </h2>
            <div>
                {
                    wordDetail.explanations.map((explanation, index) => (
                        <Explanation explanation={explanation} index={index} />
                    ))
                }
            </div>
        </div>

        <div class="my-10">
            <h2 class="text-2xl border-b-[1px] py-4">
                {intlData.word.writing}
            </h2>
            <div class="my-4">
                <p class="md:text-xl">
                    {intlData.word.writingTips}
                </p>
            </div>
        </div>

        <div class="my-10">
            <h2 class="text-2xl border-b-[1px] py-4">
                {intlData.word.homophones}
            </h2>
            <div class="my-4 flex flex-row flex-wrap">
                {
                    homophones.map((w) => (
                        <a
                            href={`/${lang.locale}/words/${w.word}`}
                            class="text-blue-700 md:text-xl mr-2"
                        >
                            {w.word}
                        </a>
                    ))
                }
            </div>
        </div>

        <div class="my-10">
            <h2 class="text-2xl border-b-[1px] py-4">
                {intlData.word.relatedList}
            </h2>
            <div class="my-4">
                {
                    relatedList.map((list) => (
                        <a
                            href={`/${lang.locale}/lists/${list.name}`}
                            class="text-blue-700 md:text-xl block my-1"
                        >
                            {getListIntl(list, lang).title}
                        </a>
                    ))
                }
            </div>
        </div>

        <div class="flex flex-row justify-between">
            <a href={`/${lang.locale}/words/${previous?.word}`}>
                ← {intlData.word.previous}
            </a>
            <a href={`/${lang.locale}/words/${next?.word}`}>
                {intlData.word.next} →
            </a>
        </div>
    </div>
</PageLayout>

<script>
    // add event listener to speak button
    function addSpeakListener() {
        let allSpeakBtns = document.querySelectorAll(".speak-btn");
        allSpeakBtns.forEach((btn) => {
            let word = btn.getAttribute("data-word");
            if (!word) return;
            btn.addEventListener("click", () => {
                speak(word);
            });
        });
    }

    function speak(words: string) {
        let utterance = new SpeechSynthesisUtterance(words);
        speechSynthesis.speak(utterance);
    }

    document.addEventListener("astro:page-load", () => {
        addSpeakListener();
    });
</script>
