---
import fs from "fs";
import "@fontsource/ma-shan-zheng";
import PageLayout from "@/layouts/PageLayout.astro";
import "@fontsource/twinkle-star";
import Hanzi from "@/components/widget/WritingWords.astro";
import { pinyin } from "pinyin-pro";
import type { PinyinWord, WordDetail } from "@/common/types";
import Explanation from "@/components/widget/Explanation.astro";
export async function getStaticPaths() {
    const wordFiles = fs.readdirSync("src/data/words");
    return wordFiles.map((wordFile) => {
        return {
            params: {
                word: wordFile.split(".")[0],
            },
        };
    });
}

const { word } = Astro.params;

const pinyins = pinyin(word, { type: "array" });

let pinyinWords: PinyinWord[] = [];
for (let i = 0; i < word.length; i++) {
    pinyinWords.push({
        word: word[i],
        pinyin: pinyins[i],
    });
}

let content = fs.readFileSync(`src/data/words/${word}.json`);
let wordDetail: WordDetail = JSON.parse(content.toString());

// Todo
const metadata = {
    title: `Chinese Words - ${word}`,
    description: "Chinese Words",
};
---

<PageLayout metadata={metadata}>
    <main class="max-w-screen-md mx-auto">
        <h1 class="text-4xl text-center text-white">{word}</h1>
        <div class="mb-20">
            <Hanzi pinyinWords={pinyinWords} />
        </div>

        <div class="my-10">
            <h2 class="text-2xl border-b-[1px] py-4 font-serif">Information</h2>
        </div>

        <div class="my-10">
            <h2 class="text-2xl py-4 font-serif">Explanation</h2>
            <div>
                {
                    wordDetail.explanations.map((explanation, index) => (
                        <Explanation explanation={explanation} index={index} />
                    ))
                }
            </div>
        </div>
        <div class="my-10">
            <h2 class="text-2xl border-b-[1px] py-4 font-serif">Writing</h2>
        </div>
        <div class="my-10">
            <h2 class="text-2xl border-b-[1px] py-4 font-serif">
                Related List
            </h2>
        </div>
        <div class="my-10">
            <h2 class="text-2xl border-b-[1px] py-4 font-serif">Homophones</h2>
        </div>
    </main>
</PageLayout>
