---
import fs from "fs";
import "@fontsource/ma-shan-zheng";
import PageLayout from "@/layouts/PageLayout.astro";
import "@fontsource/twinkle-star";
import Hanzi from "@/components/widget/WritingWords.astro";
import { pinyin } from "pinyin-pro";
import type { PinyinWord, Example } from "@/common/types";
import PinyinWords from "@/components/widget/PinyinWords.astro";
export function getStaticPaths() {
    // read file from src/data/words, get the list of words
    const content = fs.readFileSync("src/data/words.txt", "utf-8");
    // 将文件内容分割为数组
    const lines = content.split("\n");
    // map the list of words to an array of objects with params key
    return lines.map((word) => {
        return {
            params: {
                word: word,
            },
        };
    });
}

const { word } = Astro.params;

const pinyins = pinyin(word, { type: "array" });

let pinyinWords: PinyinWord[] = [];
for (let i = 0; i < word.length; i++) {
    pinyinWords.push({
        word: word[i],
        pinyin: pinyins[i],
    });
}

const example: Example[] = [
    {
        chinese: "你好，你叫什么名字?",
        pinyin: pinyin("你好，你叫什么名字?", { type: "array" }),
        english: "Hello, what's your name?",
    },
    {
        chinese: "你好，你叫什么名字?",
        pinyin: pinyin("你好，你叫什么名字?", { type: "array" }),
        english: "Hello, what's your name?",
    },
];

const explaination = {
    english: "hello",
};

let examplePinyinWords: PinyinWord[] = [];
for (let i = 0; i < example[0].chinese.length; i++) {
    examplePinyinWords.push({
        word: example[0].chinese[i],
        pinyin: example[0].pinyin[i],
    });
}

// Todo
const metadata = {
    title: `Chinese Words - ${word}`,
    description: "Chinese Words",
};
---

<PageLayout metadata={metadata}>
    <main class="max-w-screen-md mx-auto">
        <h1 class="text-4xl text-center text-white">{word}</h1>
        <div class="mb-20">
            <Hanzi pinyinWords={pinyinWords} />
        </div>

        <div class="my-10">
            <h2 class="text-2xl border-b-[1px] py-2 font-serif">Explanation</h2>
            <p class="my-2 text-xl font-serif">{explaination.english}</p>
        </div>

        <div class="my-10">
            <h2 class="text-2xl border-b-[1px] py-2">Examples</h2>
            {
                example.map((ex) => (
                    <div class="my-5 flex flex-col items-center">
                        <PinyinWords pinyinWords={examplePinyinWords} />
                        <p class="my-2 text-xl tracking-wide">{ex.english}</p>
                    </div>
                ))
            }
        </div>
    </main>
</PageLayout>
